.App {
  color: white;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px;
  margin-top: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding-left: 0;  
  list-style: none;
}

.list__item {
  font-size: 23px;
}

.list {
  padding: 20px;
  width: 300px;
  border-radius: 10px; 
}

.list1 {
  background-color: blueviolet;

}

.list2 {
  background-color: blue; 
} 

.list3 {
  background-color: brown;
}

.list4 {
  background-color: rgb(4, 62, 4);
 
}


h2 {
  text-align: center;
}